@model IEnumerable<EIRLSSAssignment1.Models.DrivingLicense>

@{
    ViewBag.Title = "DrivingLicenses";
}

<button class="btn btn-primary fa fa-arrow-circle-left" data-toggle="tooltip" title="Back" onclick="location.href='@Url.Action("Index","Admin", new { })';return false;"></button>
<h2>Driving Licenses</h2>


<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header" style="background-color:lightpink;"> <span class="fa fa-car"></span> Driving License (Web Render)</div>
            <div class="card-body" style="background-color:pink;">
                <div class="col">
                    <div class="row">
                        <strong>1.&ensp;</strong> @item.Surname
                    </div>
                    <div class="row mb-3">
                        <strong>2.&ensp;</strong> @item.Forenames
                    </div>
                    <div class="row">
                        <strong>3.&ensp;</strong> @item.DateOfBirth.ToString("d")
                        @item.PlaceOfBirth.ToUpper()
                    </div>
                    <div class="row">
                        <strong>4a.&ensp;</strong> @item.DateOfIssue.ToString("d")
                        <strong>&ensp; 4c.&ensp;</strong> @item.IssuedBy
                    </div>
                    <div class="row">
                        <strong>4b.&ensp;</strong> @item.DateOfExpiry.ToString("d")
                    </div>
                    <div class="row">
                        <strong>5.&ensp;</strong> @item.LicenseNumber
                    </div>
                    <div class="row">
                        <strong>7.&ensp;</strong> <i style="font-family:'Brush Script MT'; font-size:x-large;">@item.Forenames.Split(' ')[0]&ensp;@item.Surname </i>
                    </div>
                    <div class="row">
                        <strong>8.&ensp;</strong> @item.Address
                    </div>
                </div>
            </div>
            <div class="card-header" style="background-color:lightpink;">
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Details","DrivingLicense", new { id = item.Id })';return false;">
                    <i class="fa fa-search"></i>
                    <strong>View details</strong>
                </button>
            </div>
        </div>
    }

</div>