@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bookings<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <asp:LoginView runat="server" ViewStateMode="Disabled">
                <LoggedInTemplate>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Customer Bookings", "Index", "Booking", routeValues: null, htmlAttributes: new { id = "accountLink" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("My Bookings", "Index", "Booking", routeValues: null, htmlAttributes: new { id = "accountLink" })</li>
                    }
                </LoggedInTemplate>
            </asp:LoginView>
        </ul>
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    @if (User.IsInRole("Admin"))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <asp:LoginView runat="server" ViewStateMode="Disabled">
                    <LoggedInTemplate>
                        <li>----Customers----</li>
                        <li>@Html.ActionLink("Manage Customers", "Index", "Account", routeValues: null, htmlAttributes: new { id = "accountLink" })</li>
                        <li>-----Rentals-----</li>
                        <li>@Html.ActionLink("Manage Fuel Types", "Index", "FuelType", routeValues: null, htmlAttributes: new { id = "fuelTypeLink" })</li>
                        <li>@Html.ActionLink("Manage Vehicle Types", "Index", "VehicleType", routeValues: null, htmlAttributes: new { id = "vehicleTypeLink" })</li>
                        <li>@Html.ActionLink("Manage Fleet", "Index", "Vehicle", routeValues: null, htmlAttributes: new { id = "vehicleLink" })</li>
                        <li>@Html.ActionLink("Manage Optional Extras", "Index", "OptionalExtra", routeValues: null, htmlAttributes: new { id = "vehicleLink" })</li>
                        <li>----Documents----</li>
                        <li>@Html.ActionLink("Licenses", "Index", "DrivingLicense", routeValues: null, htmlAttributes: new { id = "drivingLicenseLink" })</li>
                        <li>@Html.ActionLink("Supporting Documents", "Index", "SupportingDocument", routeValues: null, htmlAttributes: new { id = "supportingDocumentLink" })</li>
                        <li>-----System-----</li>
                        <li>@Html.ActionLink("Configuration", "Index", "Configuration", routeValues: null, htmlAttributes: new { id = "conigurationLink" })</li>
                    </LoggedInTemplate>
                </asp:LoginView>
            </ul>
        </li>
    }
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
