@model EIRLSSAssignment1.Models.ApplicationUser

@{
    ViewBag.Title = "Details (" + Model.Name + ")";
}

<div>
    <button class="btn btn-primary fa fa-arrow-circle-left" data-toggle="tooltip" title="Back" onclick="location.href='@Url.Action("Index","Admin", new { })';return false;"></button>
    <button class="btn btn-warning fa fa-pen" data-toggle="tooltip" title="Edit" onclick="location.href='@Url.Action("Edit","Account", new {id = Model.Id})';return false;"></button>
    <hr />
</div>

<h2>Details (@Model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal d">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @readonly ="readonly" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBlackListed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBlackListed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTrustedCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTrustedCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </dt>

        <dd>
            @Html.EditorFor(model => model.LockoutEndDateUtc, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>

    </dl>
</div>

