@model EIRLSSAssignment1.Models.SupportingDocument

@{
    ViewBag.Title = "Details (" + Model.DocumentType + ")";
}

<div>
    @if (User.IsInRole("Admin"))
    {
        <button class="btn btn-primary fa fa-arrow-circle-left" data-toggle="tooltip" title="Back" onclick="location.href='@Url.Action("Index","SupportingDocument ", new { })';return false;"></button>
    }
    else
    {
        <button class="btn btn-primary fa fa-arrow-circle-left" data-toggle="tooltip" title="Back" onclick="location.href='@Url.Action("Index","Home", new { })';return false;"></button>

    }
    <button class="btn btn-warning fa fa-pen" data-toggle="tooltip" title="Edit" onclick="location.href='@Url.Action("Edit","SupportingDocument", new {id = Model.Id})';return false;"></button>
    <hr />
</div>

<h2>Details (@Model.DocumentType)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRecieved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRecieved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" width="300" height="200" />
        </dd>

    </dl>
</div>