@model EIRLSSAssignment1.Models.SupportingDocument

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SupportingDocument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRecieved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRecieved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" width="300" height="200" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
