@model EIRLSSAssignment1.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    @if (!Model.HasDrivingLicense || !Model.HasSupportingDocument)
    {
    <div class="alert alert-danger" role="alert">
        <h4>Some services are currently disabled.</h4>
        <p>You are currently unable to rent a vehicle as you have not provided the following documentation:</p>
        <ul>
            @if (!Model.HasDrivingLicense)
            {
                <li>Driving License</li>
            }
            @if (!Model.HasSupportingDocument)
            {
                <li>Supporting Documentation</li>
            }
        </ul>
            
    </div>
     }

    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Drivers License:</dt>
        <dd>
            [
            @if (Model.HasDrivingLicense)
            {
                @Html.ActionLink("Update License", "Edit", "DrivingLicense", new {id = ViewBag.licenseId }, null)
            }
            else
            {
                @Html.ActionLink("Add License", "Create", "DrivingLicense", new { userId = ViewBag.userId }, null)
            }
            ]
        </dd>




        @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>*@
    </dl>
</div>
