@model EIRLSSAssignment1.Models.Vehicle

@{
    ViewBag.Title = "Delete (" + Model.VRM + ")";
}

<div class="alert alert-danger">
    <div class="row">
        <span class="fa fa-exclamation-triangle" style="color:red; font-size:40px; margin-right:10px;"></span>
        <h3>Are you sure you want to delete this record?</h3>
    </div>

    <hr />
    <h5>This action is irreversible.</h5>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuelType.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VRM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VRM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumAgeToRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumAgeToRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
                <button class="btn btn-primary fa fa-arrow-circle-left" data-toggle="tooltip" title="Back" onclick="location.href='@Url.Action("Index","Admin", new { })';return false;"></button>
        </div>
    }
</div>
