@model EIRLSSAssignment1.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuelType.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VRM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VRM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumAgeToRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumAgeToRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRented)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRented)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
