@model IEnumerable<EIRLSSAssignment1.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Fleet Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FuelType.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VRM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transmission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumAgeToRent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VRM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transmission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumAgeToRent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
