@model IEnumerable<EIRLSSAssignment1.Models.Booking>

@{
    ViewBag.Title = "Banger & Co";
}


<div class="jumbotron" style="background-image: url(../../Content/Images/Cars-parked.jpg)">
    <h1 style="color: snow">Banger and Co</h1>
    <p style="color: snow" class="lead">Car and Van Rental</p>
    @*@<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    @if (Request.IsAuthenticated)
    {
        <div class="container-fluid">
            <div class="card-desk">
                <div class="card">
                    <h5 class="card-header">My Bookings</h5>
                    <div class="card-body">
                        @if (ViewBag.UserBookingsCount > 0)
                        {
                            <table class="table table-striped">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicle.DisplayString)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BookingStart)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BookingFinish)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsLateReturn)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Vehicle.DisplayString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookingStart)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookingFinish)
                                        </td>
                                        <td>
                                            @if (item.IsLateReturn == true)
                                            {
                                                <p>Yes</p>
                                            }
                                            else
                                            {
                                                <p>No</p>
                                            }
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" onclick="location.href='@Url.Action("Details","Booking", new { id = item.Id })';return false;">Details</button>
                                            <button class="btn btn-primary" onclick="location.href='@Url.Action("ExtendBooking", "Booking",new { id = item.Id })';return false;">Extend Booking</button>
                                        </td>
                                    </tr>
                                }

                            </table>
                        }
                        else
                        {
                            <div class="alert alert-info" role="alert">
                                You don't have any bookings yet! Click the button below to rent a vehicle.
                            </div>
                        }
                        @if (!User.IsInRole("Admin"))
                        {
                            if (ViewBag.hasStoredLicense == false || ViewBag.hasStoredDocument == false)
                            {
                                <button class="btn btn-danger disabled" onclick="location.href='';return false;">Booking disabled</button>
                            }
                        }
                        else
                        {
                            <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Booking",new {})';return false;">New Booking</button>
                        }

                    </div>
                </div>
                <div class="card-deck pt-3">
                    <div class="card" style="width: 18rem;">
                        @*<img class="card-img-top" src="..." alt="Card image cap">*@
                        <div class="card-body">
                            <h5 class="card-title">Your Supporting Document</h5>
                            <hr/>
                            @if(ViewBag.hasStoredLicense == false)
                            {
                                <div class="alert alert-warning">
                                    <strong>Documentation Required</strong>
                                    <p>You are unable to rent until you have submitted this document</p>
                                </div>
                            }
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        @*<img class="card-img-top" src="..." alt="Card image cap">*@
                        <div class="card-body">
                            <h5 class="card-title">Your License</h5>
                            <hr />
                            @if(ViewBag.hasStoredDocument == false)
                            {
                                <div class="alert alert-warning">
                                    <strong>Documentation Required</strong>
                                    <p>You are unable to rent until you have submitted this document</p>
                                </div>
                            }
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

    }
    else
    {
        <div class="col-md-4 table-bordered">
            <h2>Web Hosting</h2>
            <hr />
            <p></p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    }

</div>