@model IEnumerable<EIRLSSAssignment1.Models.Booking>

@{
    ViewBag.Title = "Banger & Co";
}


<div class="jumbotron" style="background-image: url(../../Content/Images/Cars-parked.jpg)">
    <h1 style="color: snow">Banger and Co</h1>
    <p style="color: snow" class="lead">Car and Van Rental</p>
    @*@<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    @if (Request.IsAuthenticated)
    {
        <div class="container-fluid">
            <div class="card-desk">
                <div class="card">
                    <h5 class="card-header">My Bookings</h5>
                    <div class="card-body">
                        @if (ViewBag.UserBookingsCount > 0)
                        {
                            <p>
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                                    Search Filters
                                </button>
                            </p>
                            <div class="collapse mb-3" id="collapseFilters">
                                @using (Html.BeginForm())
                                {
                                    <div class="card-deck">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Date Range</h5>
                                                <hr />
                                                <label for="startDate">Date Range Start</label>
                                                <input type="date" class="form-control" placeholder="01/01/2001" aria-label="Date Range Start" aria-describedby="basic-addon1" id="startDate" name="searchParamDateStart">
                                                <label for="endDate">Date Range End</label>
                                                <input type="date" class="form-control" placeholder="01/01/2010" aria-label="Date Range End" aria-describedby="basic-addon1" id="endDate" name="searchParamDateEnd">
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Vehicle</h5>
                                                <hr />
                                                <label for="vehicle">Vehicle</label>
                                                @Html.DropDownList("searchParamVehicle", (SelectList)ViewBag.vehicles, "", htmlAttributes: new { @class = "form-control", id = "vehicle" })
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Returns</h5>
                                                <hr />
                                                <label for="lateReturn">Late return arranged?</label>
                                                <select name="searchParamLateReturn" id="lateReturn">
                                                    <option value="" disabled selected></option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="Yes">No</option>
                                                </select>
                                                <label for="lateReturn">Hide Returned?</label>
                                                <input type="checkbox" id="hideReturned" name="searchParamHideReturned" />
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class=" btn btn-primary mt-3"> Search</button>
                                    <button class="btn btn-info mt-3" onclick="window.location.href=window.location.href">Clear Filters</button>
                                }
                            </div>
                            <table class="table table-striped">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicle.DisplayString)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BookingStart)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BookingFinish)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsLateReturn)
                                    </th>
                                    <th>
                                        <p>Flags</p>
                                    </th>
                                    <th>
                                        <p>Actions</p>
                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Vehicle.DisplayString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookingStart)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookingFinish)

                                        </td>
                                        <td>
                                            @if (item.IsLateReturn == true)
                                            {
                                                <p>Yes</p>
                                            }
                                            else
                                            {
                                                <p>No</p>
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsReturned == true)
                                            {
                                                <span class="badge badge-success">Returned</span>
                                            }
                                            @if (DateTime.Now > item.BookingFinish && item.IsReturned == false)
                                            {
                                                <span class="badge badge-danger">OVERDUE</span>
                                            }
                                            @if (DateTime.Now >= item.BookingStart && DateTime.Now <= item.BookingFinish && item.IsReturned == false)
                                            {
                                                <span class="badge badge-warning">Current</span>
                                            }
                                            @if (DateTime.Now < item.BookingStart && item.IsReturned == false)
                                            {
                                                <span class="badge badge-info">Upcoming</span>
                                            }
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" onclick="location.href='@Url.Action("Details","Booking", new { id = item.Id })';return false;">Details</button>
                                            <button class="btn btn-primary" onclick="location.href='@Url.Action("ExtendBooking", "Booking",new { id = item.Id })';return false;">Ammend</button>
                                        </td>
                                    </tr>
                                }

                            </table>
                        }
                        else
                        {
                            <div class="alert alert-info" role="alert">
                                You don't have any bookings yet! Click the button below to rent a vehicle.
                            </div>
                        }
                        @if (!User.IsInRole("Admin"))
                        {
                            if (ViewBag.hasStoredLicense == false || ViewBag.hasStoredDocument == false)
                            {
                                <button class="btn btn-danger disabled" onclick="location.href='';return false;">Booking disabled</button>
                            }
                            else
                            {
                                <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Booking",new {})';return false;">New Booking</button>

                            }
                        }
                        else
                        {
                            <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Booking",new {})';return false;">New Booking</button>
                        }

                    </div>
                </div>
                @if (!User.IsInRole("Admin"))
                {
                    <div class="card-deck pt-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <row>
                                    <h5 class="card-title">Your Supporting Document</h5>

                                    @if (ViewBag.hasStoredDocument == false)
                                    {
                                        <span class="badge badge-warning">Upload required</span>
                                    }
                                    <hr />
                                </row>
                                <p class="card-text">Upload / Manage your supporting document.</p>
                                @if (ViewBag.hasStoredDocument == false)
                                {
                                    <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "SupportingDocument",new {})';return false;">Upload Document</button>
                                }
                                else
                                {
                                    <button class="btn btn-warning" onclick="location.href='@Url.Action("Manage", "SupportingDocument",new {})';return false;">Manage Document</button>
                                }
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <row>
                                    <h5 class="card-title">Your License</h5>
                                    @if (ViewBag.hasStoredLicense == false)
                                    {
                                        <span class="badge badge-warning">Upload required</span>
                                    }
                                    <hr />
                                </row>
                                <p class="card-text">Upload / Manage your drivers license.</p>
                                @if (ViewBag.hasStoredLicense == false)
                                {
                                    <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "DrivingLicense",new {})';return false;">Upload License</button>
                                }
                                else
                                {
                                    <button class="btn btn-warning" onclick="location.href='@Url.Action("Manage", "DrivingLicense",new {})';return false;">Manage License</button>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid">
            <div class="card-deck">
                <div class="card">
                    <h5 class="card-header">Login / Register</h5>
                    <div class="card-body">
                        <h5 class="card-title">Register or Login to access the system</h5>
                        <p class="card-text">Banger and Co is a family run car rental service with a wide variety of vehicles to choose from. </p>
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Register", "Account",new {})';return false;">Register</button>
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Login", "Account",new {})';return false;">Login</button>
                    </div>
                </div>
            </div>
        </div>
    }

</div>