@model IEnumerable<EIRLSSAssignment1.Models.Booking>

@{
    ViewBag.Title = "Banger & Co";
}


<div class="jumbotron" style="background-image: url(../../Content/Images/Cars-parked.jpg)">
    <h1 style="color: snow">Banger and Co</h1>
    <p style="color: snow" class="lead">Car and Van Rental</p>
    @*@<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    @if (Request.IsAuthenticated)
    {
        <div class="container-fluid">
            <div class="card-deck">
                <div class="card">
                    <h5 class="card-header">My Bookings</h5>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Vehicle.DisplayString)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingStart)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingFinish)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsLateReturn)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vehicle.DisplayString)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookingStart)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookingFinish)
                                    </td>
                                    <td>
                                        @if(item.IsLateReturn == true)
                                        {
                                            <p>Yes</p>
                                        }
                                        else
                                        {
                                            <p>No</p>
                                        }
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Details","Booking", new { id = item.Id })';return false;">Details</button>
                                    </td>
                                </tr>
                            }

                        </table>
                        <a href="#" class="btn btn-primary">New Booking</a>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="col-md-4 table-bordered">
            <h2>Web Hosting</h2>
            <hr />
            <p></p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    }

</div>