@model EIRLSSAssignment1.Models.BookingViewModel

@{
    ViewBag.Title = "Details (" + Model.booking.DisplayString + ")";
}


@if (User.IsInRole("Admin"))
{
<div>
    <button class="btn btn-primary fa fa-arrow-circle-left" data-toggle="tooltip" title="Back" onclick="location.href='@Url.Action("Index","Admin", new { })';return false;"></button>
    <button class="btn btn-warning fa fa-pen" data-toggle="tooltip" title="Edit" onclick="location.href='@Url.Action("Edit","Booking", new {id = Model.booking.Id})';return false;"></button>
    @if (Model.booking.IsReturned == false)
    {
        <button class="btn btn-warning" data-toggle="tooltip" title="Edit" onclick="location.href='@Url.Action("Return","Booking", new {id = Model.booking.Id})';return false;">Return</button>
    }
    <hr />
</div>
}
else
{
<div>
    <button class="btn btn-primary fa fa-arrow-circle-left" data-toggle="tooltip" title="Back" onclick="location.href='@Url.Action("Index","Home", new { })';return false;"></button>
    @if (Model.booking.IsReturned == false)
    {
        <button class="btn btn-warning fa fa-pen" data-toggle="tooltip" title="Edit" onclick="location.href='@Url.Action("Edit","Booking", new {id = Model.booking.Id})';return false;"></button>
        <button class="btn btn-warning" data-toggle="tooltip" title="Edit" onclick="location.href='@Url.Action("Return","Booking", new {id = Model.booking.Id})';return false;">Return</button>
    }
    <hr />
</div>
}

<h2>Details: @Model.booking.DisplayString</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.booking.User.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.booking.User.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.booking.Vehicle.VRM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking.Vehicle.VRM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.booking.BookingStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking.BookingStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.booking.BookingFinish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking.BookingFinish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.booking.IsLateReturn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking.IsLateReturn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.booking.BookingCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking.BookingCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.booking.OptionalExtras)
        </dt>

        <dd>
            <ul>
                @foreach (var extra in Model.BookedOptionalExtras)
                {
                    <li>@extra.Name</li>
                }
            </ul>
        </dd>

        @if (User.IsInRole("Admin"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.booking.Remarks)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.booking.Remarks)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.booking.IsReturned)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.booking.IsReturned)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.booking.ReturnDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.booking.ReturnDate)
            </dd>
        }

    </dl>
</div>
