@model EIRLSSAssignment1.Models.ExtensionRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExtensionRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateRequest)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
